@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  .menu-links.open {
    position: absolute;
    top: 135%;
    width: 480px !important;
    background-color: white;
    width: fit-content;
    max-height: 350px;
    overflow: hidden;
    /* left: -358%; */
    right: -24px;
    transition: all 0.3 ease-in-out;
  }
  .menu-links a{
    text-align: start;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    gap: 10px;
    margin-top: 0;
  }

  .project-container {
    width: 45% !important;
  }
  .about-pic {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .menu-links.open {
    position: absolute;
    top: 115%;
    width: 300px !important;
    background-color: white;
    width: fit-content;
    max-height: 350px;
    overflow: hidden;
    /* left: -358%; */
    right: -24px;
    transition: all 0.3 ease-in-out;
  }
  .about-pic {
    height: 400px !important;
  }
  .about-containers {
    gap: 10px;
  }
  .project-container {
    /* flex: 1; */
    width: 100% !important;
  }

  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: start;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
}
